html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------------------------------------------------------------*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
/*--------------------*/
html,
body {
  min-height: 100%;
  line-height: 1;
  overflow-x: hidden;
}
/*---------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background: #ffffff;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homeMain {
  flex: 1;
}

@media (min-width: 1300px) {
  .homeMain {
    display: flex;
  }
}

.container {
  box-sizing: content-box;
  max-width: 90%;
  margin: 0px auto;
}

.homeHeader {
  background: #ffffff;
  border: 1px solid #d1d2df;
  height: 70px;
}

.homeHeader_container {
  height: 100%;
}

.homeHeader_content {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 40px;
}

// .homeFooter {
//   padding: 20px;
//   height: 5vh;
//   color: #8e8f9b;
//   display: flex;
//   justify-content: space-between;
// }

// .homeFooter_content {
//   width: 40%;
//   display: flex;
//   height: 100%;
//   align-items: center;
//   justify-content: space-between;
// }

// .homeFooter_container {
//   height: 100%;
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
// }

// .homeFooter_space {
//   width: 60%;
//   height: 100%;
// }

// ---------------------

.homeMain_left {
  width: 40%;
  background: rgb(226, 238, 255);
  background: linear-gradient(
    90deg,
    rgba(226, 238, 255, 1) 0%,
    rgba(246, 255, 226, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1299px) {
  .homeMain_left {
    width: 100%;
    min-height: 300px;
  }
}

.homeMain_right {
  width: 60%;
}

@media (max-width: 1299px) {
  .homeMain_right {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5vw;
  }
}

.leftMonitor {
  width: 80%;
}

@media (max-width: 1299px) {
  .leftMonitor {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .leftMonitor {
    width: 70%;
  }
}

.homeMain_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeMain__right_content {
  color: #21222d;
}
.homeMain__right_formElement_h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}

@media (min-width: 3000px) {
  .homeMain__right_formElement_h1 {
    font-size: 64px;
  }
}

.stepsList_circle {
  display: flex;
  width: 28px;
  height: 28px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid var(--Lines, #d1d2df);
  background: var(--White, #fff);
  color: #d1d2df;
}

@media (max-width: 800px) {
  .stepsList_circle {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 3000px) {
  .stepsList_circle {
    width: 40px;
    height: 40px;
  }
}

.homeMain__right_formElement_steps {
  display: flex;
  align-items: center;
}
.stepsList_line {
  border: 1px solid #d1d2df;
  width: 50px;
}

@media (max-width: 800px) {
  .stepsList_line {
    width: 10px;
  }
}

@media (min-width: 3000px) {
  .stepsList_line {
    width: 100px;
  }
}

.homeMain__right_formElement_when {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

@media (min-width: 3000px) {
  .homeMain__right_formElement_when {
    font-size: 32px;
  }
}

.when_tableHalf {
  display: flex;
  height: 20px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Lines, #d1d2df);
  margin-bottom: 5px;
}

.when_span {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (min-width: 3000px) {
  .when_span {
    font-size: 16px;
  }
}

.when_table {
  width: 48%;
}

@media (max-width: 800px) {
  .when_table {
    width: 100%;
  }
}

.when_twoTables {
  margin-top: 50px;
  justify-content: space-between;
}
@media (min-width: 800px) {
  .when_twoTables {
    display: flex;
  }
}

.homeMain__right_formElement_storageBox {
  display: flex;
  align-items: center;
}

.back_button {
  display: flex;
  width: 100px;
  height: 20px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 48px;
  border: 2px solid var(--Lines, #d1d2df);
}

.back__button_span {
  color: #d1d2df;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.next_button {
  display: flex;
  width: 100px;
  height: 20px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 48px;
  background: #c94654;
}
.next__button_arr {
  transform: scale(-1, 1);
}

.next__button_span {
  color: #ffffff;
}

.homeMain__right_formElement_backNext {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.exit-request {
  color: #c94654;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
}

.homeMain__right_formElement {
  margin-bottom: 40px;
}

@media (min-width: 3000px) {
  .homeMain__right_formElement {
    margin-bottom: 120px;
  }
}

.homeMain__right_formElement_storageBox_span {
  margin-left: 5px;
}

.stepsList__line_painted {
  border: 1px solid var(--Lines, #c94654);
  color: #c94654;
}

.stepsList__circle_painted {
  border: 1px solid var(--Lines, #c94654);
  color: #c94654;
}

.when__twoTables_second {
  margin-top: 20px;
}
